<style>
  @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');
</style>
<body>
<video autoplay muted id="video" src="assets/animation.mp4" type="video/mp4">

</video>
<div class="profile">
  <div class="elements">
    <h1>My portfolio</h1>

    <ul>
      <li>
        <a routerLink="facebook-login">Facebook-login-page</a>
      </li>
      <li>
        <a routerLink="instagram-login">Instagram-login-page</a>
      </li>
      <li>
        <a routerLink="microsoft-home">Microsoft-home-page</a>
      </li>
<!--      <li>-->
<!--        <a routerLink="todo list">ToDo list</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a>Online Store</a>-->
<!--      </li>-->
    </ul>
  </div>
</div>
</body>
