* {
    /*border: 1px solid red;*/
    padding: 0;
    margin: 0;

}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    background-color: white;
    line-height: 1.34;
    direction: ltr;
    position: relative;
    color: black;
}
#common-box {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /*gap: 50px;*/
}
#content {
    margin: 0;
    outline: none;
    padding: 0;
    /*width: 100%;*/
    background: #edf0f5;
    min-height: 640px;
}
#common-box1 {
    padding-bottom: 112px;
    padding-top: 72px;
    /*min-width: 500px;*/
    width: 100%;
}
#common-box2 {
    height: 496px;
    padding: 0 25px;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 50px;
}
#fb-div {
    /*padding-right: 32px;*/
    margin-right: 0;
    display: flex;
    flex-direction: column;
    /*width: 396px;*/
    width: 550px;
    padding-top: 140px;
    gap: 10px;
}
.fb_logo {
    height: 106px;
    margin: -28px;
}
.h2-word {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 24px;
    width: 80%;
    line-height: 28px;
    font-weight: normal;
    padding: 0 0 20px;
    margin: 0;
    letter-spacing: normal;
    display: inline-block;
}
#log-in-box {
    box-sizing: border-box;
}
#log-in-div {
    height: 456px;
    width: 396px;
    display: block;
}
#log-in-1 {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    text-align: center;
    background-color: white;

}
form {
    display: block;
    margin: 0;
    padding: 0;
}
.input1 {
    font-size: 17px;
    width: 364px;
    display: inline-block;
    margin: auto;
    padding: 6px 0;
}
.input1-text {
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border: 1px solid #dddfe2;
    color: #0742a1;
    height: 22px;
    line-height: 16px;
}
.input2-text {
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border: 1px solid #dddfe2;
    /*color: #0742a1;*/
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
    caret-color: #1877f2;
}
input[type=text]:focus {
    outline: #1877f2 solid 1px;
}

#submit-id {
    padding-top: 6px;
}
.login-submit {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    box-sizing: content-box;
}
.login-submit:hover {
    background-color: #106be3;
}
.forgot-password-class {
    margin-top: 16px;
}
.a-password {
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;

}
a {
    text-decoration: none;
}
.line {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
.buttons {
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: inline-block;
}
.create-acc {
    padding-top: 6px;
}
.new-acc {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    box-sizing: content-box;

}
.new-acc:hover {
    background-color: #3bad27;
}
.a-celeb-page {
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
    margin-top: 28px;
    text-align: center;
}
#create-page {
    color: black;
    padding-right: -10px;
}
.decoration:hover {
    text-decoration: underline;
}
.input:focus{
    /*border: 1px solid #1877f2;*/
    box-shadow: 0 0 5px #1877f2;
}
input:focus {
    box-shadow: 0 0 5px #1877f2;
    border: none;
}
#bottom-box {
    background-color: white;
}

.end-1{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.end-2 {
    margin: 0 40px;
    /*width: auto;*/
    color: #737373;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    width: 80%;
}
div {
    display: block;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.locates-class {
    /*display: inline-block;*/
    /*padding-top: 8px;*/
}

.curve {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}
.pageFooter {
    color: #737373;
    /*width: 980px;*/
}
.footer-list {
    line-height: 1.6;

}
ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}
.copyright {
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li .decoration {
    padding-right: 15px;
}

@media screen and (max-width: 896px){
    #common-box2 {
       margin-top: 0;
        /*display: flex;*/
        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;
        gap: 0;
    }
    #fb-div {
        align-items: center;
        gap: 10px;
        justify-content: center;
        padding-top: 30px;
    }
    .h2-word {
        text-align: center;

    }


}
@media (max-width: 1100px) {
    .h2-word {
        font-size: 23px;
        width: 350px;
    }
}